.form-btn-full-width {
    display: block;
    width: 100%;
  }

  .success-popup {
    position: fixed;
    top: 79%;
    left: 25%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: #28a745;
    color: white;
    border-radius: 8px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }

