.signup-container h2 {
    font-size: 64px;
    color: black; 
    margin-bottom: 20px; 
  }

.signup-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
  }
  
.signup-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://media.timeout.com/images/101729547/750/422/image.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.5); 
}
  
form {
    display: flex;
    flex-direction: column;
    max-width: 400px; 
    width: 100%; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 8px;
    margin: 20px;
    z-index: 2;
}
  
  input[type="text"],
  input[type="email"],
  input[type="password"], 
  input[type="fullName"]
  {
    font-size: 16px; 
    padding: 15px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus, 
  input[type="fullName"]:focus
  {
    border-color: #4CAF50; 
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(76, 175, 80, 0.6);
    outline: none; 
  }
  
  button {
    font-size: 18px;
    color: #fff;
    background-color: #4CAF50; 
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s; 
  }
  
  button:hover {
    background-color: #45a049; 
  }

  .input-feedback {
    font-size: 14px;
    color: #d9534f; 
    margin-bottom: 5px;
  }
  select, .input-field {
    font-size: 16px;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    width: 90%; 
    max-width: 600px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .error-message {
    color: red;
    margin-top: 5px;
  }


  .login-prompt {
    margin-top: 20px; 
    text-align: center;
  }
  
  .login-button {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }

  .success-popup {
    position: fixed;
    top: 75%;
    left: 25%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: #28a745;
    color: white;
    border-radius: 8px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  